<!DOCTYPE html>
<html class="max_width_100">
<head>
    <meta charset="utf-8">
    <title>PerfectRoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_roomList.css">
    <link rel="stylesheet" href="/css/style_registration.css">
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="stylesheet" href="/css/admin_style.css">
    <link rel="stylesheet" href="/css/style_dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body class='container max_width_100'>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <i class="fas fa-door-open"></i>
                PerfectRoom
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="top_links" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                    {{#if userInfo}}

                    <li class="nav-item active">
                        <a class="top_links" class="nav-link" href="/user/profile">Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="top_links" class="nav-link" href="/user/logout">Log Out<span class="sr-only">(current)</span></a>
                    </li>    

                    {{else}}
                            <li class="nav-item">
                            <a class="top_links" class="nav-link" data-toggle="modal" data-target="#myModal" href="#myModal" style="color:black">Sign up
                            <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                            <a class="top_links" class="nav-link" href="/user/login">Log In<span class="sr-only">(current)</span></a>
                            </li>      
                    {{/if}}
                 
                    </li>
                        <li class="nav-item active">
                        <a class="top_links" class="nav-link" href="/contents/search">Room List<span class="sr-only">(current)</span></a>
                    </li>     
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="navi_search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="navi_btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="button" class="close_btn" data-dismiss="modal" value="x" >
                    </div>
                    <div class="modal-body" class="modal">
                        <div class="modal_buttons">
                            <button type="button" class="fb_signup" class="btn btn-fb">
                                <div class="flex_signin">
                                    <div  class="flex_signin_item"><i class="fab fa-facebook-f pr-1"></i> </div>
                                    <div class="flex_signin_item">Facebook</div>
                                </div>
                            </button><br><br>
                            
                            <button type="button" class="google_signup" class="btn btn-gplus">
                                <div class="flex_signin">
                                    <div  class="flex_signin_item"><i class="fab fa-google-plus-g pr-1"></i></div>
                                    <div class="flex_signin_item">Google</div>
                                </div>
                            </button><br><br>
                            <p id="or">or</p>
                            
                            <button type="button" class="email_signup" class="btn btn-email">
                                <a class="signup_btn_link" href="/signup/registration">
                                <div class="flex_signin">
                                    <div  class="flex_signin_item"><i class="fas fa-envelope pr-1"></i></div>
                                    <div class="flex_signin_item">Email</div>
                                </div>
                                </a>
                            </button>
                            </a><br><br>                                                              
                        </div>
                    </div>
                    <div class="modal-footer" class="footer_signup">
                        <p>Already have an Airbnb account? <a href="/user/login">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{{body}}}
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/475a5ac842.js" crossorigin="anonymous"></script>
<footer>
    <div>
        <a class="icon" href="https://www.facebook.com/airbnb" class="fb_icon"><i class="fab fa-facebook-square" ></i></a>
        <a class="icon" href="https://twitter.com/airbnb" class="twitter_icon"class="twitter_icon"><i class="fab fa-twitter-square" ></i></a>
        <a class="icon" href="https://www.youtube.com/airbnb" class="youtube_icon"><i class="fab fa-youtube-square" ></i></a>
        <a class="icon" href="https://www.instagram.com/airbnb/" class="insta_icon"><i class="fab fa-instagram" ></i></a>
    </div>
</footer>
</body>
</html>