<div class="main_back">
    <div class="form_container">
    <form>    
        <div class="form-group">
            <div class="form_home">
                <div class="form_home">
                    <label  for="inputState">WHERE</label><br>
                        <select id="inputState" class="form-control">
                            <option value="Toronto">Toronto</option>
                            <option value="Vancouver">Vancouver</option>
                            <option value="Bunff">Bunff</option>
                            <option value="Montreal">Montreal</option>        
                        </select>
                </div>
                <div >
                    <label  class="checkIn">CHECK-IN</label><br>
                        <input type='text' class="form-control" placeholder="dd-mm-yyyy" name='checkIn'>
                </div>
                <div >
                    <label for="inputCheckOut">CHECK-OUT</label><br>
                        <input type='text' class="form-control" placeholder="dd-mm-yyyy" name='checkOut'>   
                </div>
                <div >
                    <label for="inputState">GUEST</label>
                        <select class="form-control">
                            <option value="Guests">Guests</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                 </div>  
                <div > 
                    <input type='submit' value="Search" class="btn_serch" class="btn btn-primary">
                </div>
        </div>
    </div>
</div>
<div class="rec_container">
    <h2 class="rec_header">Recommended for you</h2>
        <div>
            <p>A selection of places to stay verified for quality and design</p>
            <p>Featured Airbnb Plus destination</p>
    <div class="card-deck">
        <div class="card">
            <img  src="/pictures/home_barcelona.jpg" alt="room1" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title" class="plus_verify">680+ VERIFIED STAYS</h5>
            <p class="card-text">Experience the modern elegance of verified places to stay</p>
            <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img src="/pictures/home_shanghai.jpg" alt="room1" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title" class="plus_verify">490+ VERIFIED STAYS</h5>
            <p class="card-text">Get to know China's ancient and booming port city</p>
            <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card">
            <img  class="card-img-top" src="/pictures/home_london.jpg" alt="room1">
            <div class="card-body">
            <h5 class="card-title" class="plus_verify">820+ VERIFIED STAYS</h5>
            <p class="card-text">Book verified places to stay with must-have amenities</p>
            <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>

    <div class="about_container">
        <h2 class="about">About Airbnb</h2>
        <div class="about_p">
            <p>We provide uniqe accomodations all over the world.</p>
            <p>
                We are one community of hosts and travellers.
                Airbnb began in 2008 when two designers who had space to share hosted three travellers 
                looking for a place to stay. Now, millions of hosts and travellers choose to create a 
                free Airbnb account so they can list their space and book unique accommodations anywhere
                in the world. And Airbnb experience hosts share their passions and interests with both 
                travellers and locals.
            </p>    
            <p>Airbnb helps make sharing easy, enjoyable, and safe. We verify personal profiles and listings,
                maintain a smart messaging system so hosts and guests can communicate with certainty, and
                manage a trusted platform to collect and transfer payments.Your safety is our number one concern.
                    Learn more in our<a href="#">Trust and Safety Centre.</a>
            </p>
        </div>
    </div>
