<main class="main_registration">
    <div class="card" class="registration_container" style="border-bottom: none">
        <h3 class="otherOption">Sign up with <a href="#" class="registration_fb">Facebook</a> or <a href="#" class="registration_google">Google</a></h3>
        <p class="otherOption">or</p>
      
        <form method="POST" action="/signup/registration" class="registration_form">
            <div class="form-group">
                <label for="validationServer03">Username</label>
                <input type="text" class="form-control {{#if err.username}}is-invalid{{/if}}" id="validationServer03" placeholder="Username">
                {{#if err.username}}
                <div class="invalid-feedback">
                    {{err.username}}
                </div>
                {{/if}}
            </div>
            <div class="form-group">
                <input value="{{username}}" class="register_input" type="username" name="username" placeholder="User Name" autofocus ><br><br>             
                <input class="register_input" type="email" name="email" placeholder="Email address"><br><br>
                <input class="register_input" type="text" name="firstname" placeholder="First name"><br><br>
                <input class="register_input" type="text" name="lastname" placeholder="Last name"><br><br>
                <input class="register_input" type="text" name="password" placeholder="Create a Password"><br><br>
            </div>
            <div class="form-group">
                <h3 class="birthday_word">Birthday</h3>
                <p class="birthday_word">To sign up, you need to be at least 18. 
                    Other people who use PerfectRoom won't see your birthday
                </p>
                <input class="register_input" type="text" name="bday" placeholder="Enter birthday (MM-DD-YYYY)" autofocus><br><br>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I agree on <a href="#">the terms and condition</a></label>
            </div>

            <div>
                {{#each error}}
                    <div class="registerError">{{this}}</div>
                {{/each}}
            </div>

            <input type="submit" value="Sign up" class="btn_signup">
        </form>
    </div>
</main>