<h1 class=" room_header">Room</h1>
<main>
    
    <div class="room_container">
        <a href="#" ><img class="room_pic"  src="/pictures/room1.jpg" alt="room1">
           <div class="room">
                <div class="room_comment">**CENTRA:**Comfy Artist...</div>
                <div>Private Room - 1bed</div>
                <div>From $154CAD/night</div>
                <span>4.08(530)</span><i class="fas fa-star"></i>
            </div>
        </a>
    </div>

    <div class="room_container">
        <a href="#"><img class="room_pic"  src="/pictures/room2.jpg" alt="room2">
            <div class="room_comment">The Muse Haus, Balcony...</div>
            <div>Private Room - 2bed</div>
            <div>From $124CAD/night</div>
            <span>5.00(33)</span><i class="fas fa-star"></i>
        </a>
    </div>
    <div class="room_container">
        <a href="#"><img class="room_pic"  src="/pictures/room3.jpg" alt="room3">
            <div class="room_comment">Bright, Comfortable Room in...</div>
            <div>Private Room - 1bed</div>
            <div>From $103CAD/night</div>
            <span>4.39(250)</span><i class="fas fa-star"></i>
        </a>
    </div>

    <div class="room_container">
        <a href="#"><img class="room_pic"  src="/pictures/room4.jpg" alt="room4">
            <div class="room_comment">Whole Flat one minutes from...</div>
            <div>Private Room - 3bed</div>
            <div>From $179CAD/night</div>
            <span>4.30(62)</span><i class="fas fa-star"></i>
        </a>
    </div>

    <div class="room_container">
        <a href="#"><img class="room_pic"  src="/pictures/room5.jpg" alt="room5">
            <div class="room_comment">Explore City from a Peaceful...</div>
            <div>Private Room - 1bed</div>
            <div>From $113CAD/night</div>
            <span>4.73(102)</span><i class="fas fa-star"></i>
        </a>
    </div>
    <div class="room_container">
        <a><img class="room_pic" src="/pictures/room6.jpg" alt="room6">
            <div class="room_comment">Stylish house close to river thames...</div>
            <div>Private Room - 1bed</div>
            <div>From $106CAD/night</div>
            <span>4.97(25)</span><i class="fas fa-star"></i> 
        </a>
    </div>

</main>
