<main>
    <h1 class=" room_header" >Room</h1>
        <div class="room_container">
            <div class = "card-deck" class="room_container">
                <div class = "card">
                     <a href="#">
                    <img class = "card-img-top"   src = "/pictures/room1.jpg" alt = "room1">
                    <div class = "card-body">
                        <h5 class = "card-title">**CENTRA**Comfy Artist...</h5>
                        <p class ="card-text">Private Room - 1bed</p>
                        <div "card-text">From $154CAD / night</div>
                        <span "card-text">4.08(530) </span > <i class = "fas fa-star"></i>
                        <p class = "card-text"><small class = "text-muted"></small></p>
                    </div>
                    </a>
                </div>

                <div class="card">
                     <a href="#">
                    <img class="card-img-top" src="/pictures/room2.jpg" alt="room2">
                        <div class="card-body">
                            <h5 class="card-title">The Muse Haus, Balcony...</h5>
                            <p "card-text">Private Room - 2bed</p>
                            <div "card-text">From $124CAD / night</div>
                            <span "card-text">5.00(33) </span> <i class = "fas fa-star"></i>
                            <p class = "card-text"><small class = "text-muted"></small></p>
                        </div>
                    </a>    
                </div>
                <div class="card">
                     <a href="#">
                    <img class = "card-img-top"   src="/pictures/room3.jpg" alt="room3">
                    <div class = "card-body">
                        <h5 class="card-title">Bright, Comfortable Room in...</h5>
                        <p class="card-text">Private Room - 1bed</p>
                            <div>From $103CAD / night</div>
                            <span>4.39(250) </span > <i class = "fas fa-star"></i>
                        <p class="card-text"><small class = "text-muted"></small></p>
                    </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="room_container">
            <div class="card-deck" >
                <div class="card">
                     <a href="#">
                    <img class="card-img-top"src="/pictures/room4.jpg" alt="room4">
                    <div class="card-body">
                    <h5 class="card-title">Whole Flat one minutes from...</h5>
                    <p class="card-text">Private Room - 3bed</p>
                            <div>From $179CAD/night</div>
                            <span>4.30(62)</span><i class="fas fa-star"></i>
                    <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                    <img class="card-img-top" src="/pictures/room5.jpg" alt="room5">
                    <div class="card-body">
                    <h5 class="card-title">Explore City from a Peaceful...</h5>
                    <p class="card-text">Private Room - 1bed</p>
                            <div>From $113CAD/night</div>
                            <span>4.73(102)</span><i class="fas fa-star"></i>
                    <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#">
                    <img class="card-img-top" src="/pictures/room6.jpg" alt="room6">
                    <div class="card-body">
                    <h5 class="card-title">Stylish house close to river thames...</h5>
                    <p class="card-text">Private Room - 1bed</p>
                            <div>From $106CAD/night</div>
                            <span>4.97(25)</span><i class="fas fa-star"></i> </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
</main>


