<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" style="margin: 40px 20px;">
          <li class="nav-item">
          </li>
          <li class="nav-item" >
            <a class="dashboard_nav_link" class="nav-link" href="#">
              <span data-feather="file"></span>
              Booking
            </a>
          </li>
          <li class="nav-item">
            <a class="dashboard_nav_link" class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Bookmark
            </a>
          </li>
          <li class="nav-item">
            <a class="dashboard_nav_link" class="nav-link" href="#">
              <span data-feather="users"></span>
              History
            </a>
          </li>
          <li class="nav-item">
            <a class="dashboard_nav_link" class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Account
            </a>
          </li>
          <li class="nav-item">
            <a class="dashboard_nav_link" class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Help
            </a>
          </li>
        </ul>

        </div>
    </nav>

      
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Hello Yuka</h2>  
      </div>
      <div class="upcoming_container" class="table-responsive">
          <div class="d-flex flex-column bd-highlight mb-3">
                <div class="upcoming_title"><h2>Upcoming trips</h2></div>
                <a href="#" class="upcoming_link">
                <div class="container-fluid" class="p-2 bd-highlight">
                  <div class="upcoming_dashboard" class="row">
                    <div class="flex_item_upcoming" class="date_trip">Dec 23 - Dec 28, 4 nights<div>Isla Mujeres</div></div>
                    <div class="flex_item_upcoming">See and Edit Details</div>
                    <div class="flex_item_upcoming" ><img class="upcoming_pic" src="pictures/dashboard_upcoming_one.jpg" alt="dashboard_pic"></div>
                  </div>
                </div>
                </a>
                <a href="#" class="upcoming_link">
                <div class="container-fluid" class="p-2 bd-highlight">
                  <div  class="upcoming_dashboard" class="row">
                    <div class="flex_item_upcoming" class="date_trip">May 7 - May 11, 4 nights<div>Joshua Tree</div></div>
                    <div class="flex_item_upcoming">See and Edit Details</div>
                    <div class="flex_item_upcoming"><img class="upcoming_pic" src="pictures/dashboard_upcoming_two.jpg" alt="dashboard_pic"></div>
                  </div>
                </div>
                </a>
                <a href="#" class="upcoming_link">
                <div class="container-fluid" class="p-2 bd-highlight">
                  <div class="upcoming_dashboard"  class="row">
                    <div class="flex_item_upcoming" class="date_trip">Jan 2 - Jan 3, 1 nights<div>Le Plateau, Montreal</div></div>
                    <div class="flex_item_upcoming">See and Edit Details</div>
                    <div class="flex_item_upcoming"><img class="upcoming_pic" src="pictures/dashboard_upcoming_three.jpg" alt="dashboard_pic"></div>
                  </div>
                </div>
                </a>
          </div>
      </div> 
       <div class="refer_container" class="table-responsive">
          <div class="d-flex flex-column bd-highlight mb-3">
                <div class="upcoming_title"><h2>Invite friends</h2></div>
                <p>Refer your friends to PerfectRoom and get PerfectRoom in $45 credit</p>
                <input class="referEmail" type="email" placeholder="Enter your friend's email">
                <div class="refer_link">or send <a href="#">this link</a></div>
          </div>
        </div> 
    </main>
  </div>
</div>

