/*registration.handlebars*/

.registration_fb,.registration_google {
    text-decoration: none;
    color:  #FF5A5F;
}
.registration_fb:hover, .registration_google:hover{
    text-decoration: none;
    color:  #FF5A5F;
}

.registration_container{
    padding: 3em;
}
.registration_form{
    text-align: center;
}

.otherOption{
    margin: 1em;
    text-align: center;
}
.register_input{
    margin-top: 1em;
    width: 15em;
    height: 2.3em;
    border-radius: 5%;
    border-style:solid;
}
.registration_select{
    margin: 1em 1em;
    width: 8em;
    height: 2.3em;
}
.btn_signup {
    width: 10em;
    height: 2aem;
    font-size: 2em;
    background-color: #FF5A5F;
    margin: 1em 0;
    color:white;
    border-style: none;
    border-radius: 2%;
} 