/*registration.handlebars*/

.registration_fb,.registration_google {
    text-decoration: none;
    color:  #FF5A5F;
}
.registration_fb:hover, .registration_google:hover{
    text-decoration: none;
    color:  #FF5A5F;
}

.registration_container{
    padding: 3em;
}
.registration_form{
    text-align: center;
}

.otherOption{
    margin: 1em;
    text-align: center;
}
.register_input{
    margin-top: 0.5em;
    width: 16em;
    height: 2.7em;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .375rem .75rem;
}
/* .registration_select{
    margin: 1em 1em;
    width: 8em;
    height: 2.3em;
} */
.btn_signup {
    width: 10em;
    height: 1.5em;
    font-size: 1.5em;
    background-color: #FF5A5F;
    margin: 0.5em;
    padding-bottom: .05em;
    color:white;
    border-style: none;
    border-radius: 2%;
} 

.registerError{
    color: red;
    line-height: 1.2em;
    font-size: 1.2em;
}