/*userDashboard.handlebars*/

@media  only screen and  (max-width: 575.98px) { 
    .navbar{
        width: 100%;
        position: absolute;
    }
}
@media  only screen and  (max-width: 575.98px) {
    .container_usertrips{
      display: block;

    }
}

.dashboard_nav_link{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.btn_dashboard{

    background-color:  #FF5A5F;
    border-color: #FF5A5F;
}

.btn_dashboard:hover{
    border-color: #FF5A5F;
    background-color:  #FF5A5F;
}


.dashboard_nav_link:hover{
    text-decoration: none;
    color: black;
}

.upcoming_container{

    margin: 1.5em;
}

.upcoming_title{
    margin: 1em;
}

.upcoming_dashboard{
    margin: 1em;
    border-radius: 2%;
    border: 0.2px solid gainsboro;
    display: flex;
    flex-direction: row; 
    flex-grow: 1;
    align-items: baseline;
    justify-content: space-around;
}
.upcoming_pic{
    height: 200px;
}

.flex_item_upcoming{
    padding: 0.5em;
}

.upcoming_link:hover{
    text-decoration: none;
    color: black;
}

.upcoming_link{
    text-decoration: none;
    color: black;
}

.referEmail{
    width: 15em;
    height: 2.5em;
    padding-left: 0.5em;
    border: 0.5px solid gainsboro; 
    border-radius: 3px;
    margin-left: 20px;
}
.refer_container{
    padding-left: 30px;
}
.refer_container p{
    margin-left: 20px;
}

.refer_link{
    margin: 10px 22px ;
}